@import "utils";
@import "fonts";
@import "header";
@import "nav";
@import "article";
@import "about";
@import "recent";
@import "footer";

body {
  font-family: Ubuntu, sans-serif;
}

.main {
  margin-top: 54px;
  @include container;

  &__container {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 2fr 240px;
    grid-column-gap: 30px;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }

}
